<!DOCTYPE html> 
<html>  
	<head> 
	<!--Etiquetas del tipo de alfabeto-->
		<meta charset="utf-8"/>
		<meta http-equiv="X-UA-Compatible" content="IE=edge"/>
		<meta name="viewport" content="width=device-width, initial-scale=1.0"/>
	<!--Links de materialize y el css/less-->
		<link href="http://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet"/>
		<link type="text/css" rel="stylesheet" href="../Documents/css/materialize.css"  media="screen,projection"/>
		<link href="../Documents/css/main.css" type="text/css" rel="stylesheet" media="screen,projection"/>
	<!--Etiquetas referetes al encabezado de la página-->
		<title>Red Social</title>
		<!--Opciones de icono-->
		<link rel="shortcut icon" href="../Sources/icono2.png" type="image/png"/>
	</head>  
	<body> 
	<!--Inicio del maquetado-->
	
	<!-- Dropdown -->

<nav>
  <div class="nav-wrapper purple">
    <a href="#!" class="brand-logo center">Logo</a>
    <ul class="right hide-on-med-and-down">
      <li><a href="#iconos">¿Quienes somos?</a></li>
      <!-- Dropdown Trigger -->
      <li><a class="dropdown-button" href="#!" data-activates="dropdown1">Usuarios<i class="material-icons right">arrow_drop_down</i></a></li>
    </ul>
  </div>
</nav>


<ul id="dropdown1" class="dropdown-content">
  <li><a class="black-text" href="#ModalIniciar">Iniciar Sesion</a></li>
  <li class="divider"></li>
  <li><a class="black-text" href="#ModalRegistrar">Registrarse</a></li>
</ul>


<div id="ModalIniciar" class="modal">
			<form class="col s12" method="POST" action="../Templates/main.php">
				<div class="modal-content">
					<h4>Iniciar Sesion</h4>
					<!--Formularios para iniciar sesión-->
					<div class="row">
					<!--Usuario-->
						<div class="input-field col s12">
							<i class="material-icons prefix">account_circle</i>
							<input id="cuenta" name="cuenta" type="text" class="validate tooltipped" data-position="bottom" data-delay="50" data-tooltip="Mínimo 7 caracteres, máximo 15."/>
							<label for="cuenta" data-error="*Completa correctamente este campo" data-success="¡Bien!">Nombre de usuario</label>
						</div>
					</div>
					<!--Contraseña-->
					<div class="input-field col s12">
							<i class="material-icons prefix">vpn_key</i>
							<input id="contraseña" name="contra" type="password" class="validate tooltipped" data-position="bottom" data-delay="50" data-tooltip="Mínimo 8 caracteres."/>
							<label for="contraseña" data-error="*Completa correctamente este campo" data-success="¡Bien!">Contraseña</label>
						</div>
					</div>
					<div class="modal-footer">
						<input id="entrar" type="submit" class="waves-effect waves-purple btn-flat" value="Enviar"  onclick="valida_envia()" />
					</div>
			</form>
		</div>
			
<div id="ModalRegistrar" class="modal">
				<form class="col s12" method="POST" action="../Templates/registro.php">
				<div class="modal-content">
					<h4>¡Registrate!</h4>
					<!--Formularios para iniciar sesión-->
					<div class="row">
					<!--Usuario-->
						<div class="input-field col s12">
							<i class="material-icons prefix">account_circle</i>
							<input id="cuentanueva" name="cuentanueva" type="text" class="validate tooltipped" data-position="bottom" data-delay="50" data-tooltip="*No se admiten caracteres especiales"/>
							<label for="cuenta" data-error="*Completa correctamente este campo" data-success="¡Bien!">Nombre de usuario</label>
						</div>
					</div>
					<!--Contraseña-->
					<div class="input-field col s12">
							<i class="material-icons prefix">vpn_key</i>
							<input id="contraseñanueva" name="contranueva" type="password" class="validate tooltipped"  required pattern="^(?=.*[a-z])(?=.*[A-Z])(?=.*\d)(?=.*[$@$!%*?&])([A-Za-z\d$@$!%*?&]|[^ ]){8,15}$" data-position="bottom" data-delay="50" data-tooltip="Mínimo 8 caracteres."/>
							<label for="contraseña" data-error="*Completa correctamente este campo: Minimo 8 caracteres. Maximo 15. Al menos una letra mayúscula. Al menos una letra minucula. Al menos un dígito. No espacios en blanco. Al menos 1 caracter especial" data-success="¡Bien!">Contraseña</label>
						</div>
					</div>
					<div class="modal-footer">
						<input id="entrar" type="submit" class="waves-effect waves-purple btn-flat" value="Enviar"/>
					</div>
			</form>
		</div>	
<!--Parallax-->
 <div class="parallax-container">
      <div class="parallax"><img src="../Sources/parallax2.jpg"></div>
    </div>
	
<!--Iconos-->
 <div id="iconos" class="row">
        <div class="col s12 m4">
          <div class="icon-block">
            <h2 class="center black-text"><i class="medium material-icons">question_answer</i></h2>
            <h5 class="center">Comunicacion eficaz</h5>

            <p class="light"></p>En nuestra empresa tu comunicacion es nuestra prioridad.
          </div>
        </div>

        <div class="col s12 m4">
          <div class="icon-block">
            <h2 class="center black-text"><i class="medium material-icons">perm_identity</i></h2>
            <h5 class="center">Intuitiva</h5>

            <p class="light">Es una red social, que permite la facil adaptacion, manteniendo su simpleza y sencillez, que te encantará.
          </div>
        </div>

        <div class="col s12 m4">
          <div class="icon-block">
            <h2 class="center black-text"><i class="medium material-icons">language</i></h2>
            <h5 class="center">Universal</h5>

            <p class="light">Nos hemos enfocado en brindarte una experiencia agradable de comunicacion, en cualquier lugar del mundo</p>
          </div>
        </div>
      </div>

    </div>
		
		
<!--Footer-->
 <footer class="white page-footer">
          <div class="purple footer-copyright">
            <div class="container white-text">
            © 2017 Copyright Text
            <a class="white-text right" href="http://www.prepa6.unam.mx">Preparatoria 6 Antonio Caso</a>
            </div>
          </div>
 </footer>
		
		
		
   <!--Fin del maquetado-->
	
		<!--Scrips que se necesitaran-->
		<script type="text/javascript" src="../Documents/js/jquery-3.2.1.js"></script>
		<script type="text/javascript" src="../Documents/js/materialize.js"></script>
		<script type="text/javascript" src="../Documents/js/main.js"></script>
	</body> 
</html> 
