<!DOCTYPE html> 
<html>  
	<head> 
	<!--Etiquetas del tipo de alfabeto-->
		<meta charset="utf-8"/>
		<meta http-equiv="X-UA-Compatible" content="IE=edge"/>
		<meta name="viewport" content="width=device-width, initial-scale=1.0"/>
	<!--Links de materialize y el css/less-->
		<link href="http://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet"/>
		<link type="text/css" rel="stylesheet" href="../Documents/css/materialize.css"  media="screen,projection"/>
	<!--Etiquetas referetes al encabezado de la página-->
		<title>Red Social</title>
		<!--Opciones de icono-->
		<link rel="shortcut icon" href="../Sources/icono2.png" type="image/png"/>
	</head>  
	<body> 
	<!--Inicio del maquetado-->
	
<nav>
<div class="row col s12 m12 l12"> <!--Corregir Responsividad-->
    <div class="nav-wrapper">
      <a href="#" class="brand-logo center">Logo</a>
      <ul id="nav-mobile" class="right hide-on-med-and-down">
        <li><a href="#">¡Empieza Ya!</a></li>
        <li><a href="#">¿Quienes somos?</a></li>
        <li><a href="#"></a></li>
      </ul>
    </div>
</div> 
</nav>
       
	
	
   <!--Fin del maquetado-->
	
		<!--Scrips que se necesitaran-->
		<script type="text/javascript" src="../Documents/js/jquery-3.2.1.js"></script>
		<script type="text/javascript" src="../Documents/js/materialize.js"></script>
		<!--<script type="text/javascript" src="../Documents/js/less.js"></script>-->
	</body> 
</html> 
