<!DOCTYPE html> 
<html>  
	<head> 
	<!--Etiquetas del tipo de alfabeto-->
		<meta charset="utf-8"/>
		<meta http-equiv="X-UA-Compatible" content="IE=edge"/>
		<meta name="viewport" content="width=device-width, initial-scale=1.0"/>
	<!--Links de materialize y el css/less-->
		<link href="http://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet"/>
		<link type="text/css" rel="stylesheet" href="../Documents/css/materialize.css"  media="screen,projection"/>
		<link href="../Documents/css/main.css" type="text/css" rel="stylesheet" media="screen,projection"/>
	<!--Etiquetas referetes al encabezado de la página-->
		<title>Red Social</title>
		<!--Opciones de icono-->
		<link rel="shortcut icon" href="../Sources/icono2.png" type="image/png"/>
	</head>  
	<body> 
	<!--Inicio del maquetado-->
	
	<!-- Dropdown -->

<ul id="dropdown1" class="dropdown-content">
  <li><a href="#!">Iniciar Sesion</a></li>
  <li class="divider"></li>
  <li><a href="#!">Registrarse</a></li>
</ul>
<nav>
  <div class="nav-wrapper purple">
    <a href="#!" class="brand-logo center">Logo</a>
    <ul class="right hide-on-med-and-down">
      <li><a href="#">¿Quienes somos?</a></li>
      <li><a href="#">Donaciones</a></li>
      <!-- Dropdown Trigger -->
      <li><a class="dropdown-button" href="#!" data-activates="dropdown1">¡Empieza Ya!<i class="material-icons right">arrow_drop_down</i></a></li>
    </ul>
  </div>
</nav>

<!--Un parallax-->
  <div class="parallax-container">
      <div class="parallax"><img src="../Sources/sydney1.png"></div>
    </div>
	
<!--Iconos-->
 <div class="row">
        <div class="col s12 m4">
          <div class="icon-block">
            <h2 class="center black-text"><i class="medium material-icons">question_answer</i></h2>
            <h5 class="center">Comunicacion eficaz</h5>

            <p class="light"></p>En nuestra empresa tu comunicacion es nuestra prioridad.
          </div>
        </div>

        <div class="col s12 m4">
          <div class="icon-block">
            <h2 class="center black-text"><i class="medium material-icons">perm_identity</i></h2>
            <h5 class="center">Intuitiva</h5>

            <p class="light">Es una red social, que permite la facil adaptacion, manteniendo su simpleza y sencillez, que te encantará.
          </div>
        </div>

        <div class="col s12 m4">
          <div class="icon-block">
            <h2 class="center black-text"><i class="medium material-icons">language</i></h2>
            <h5 class="center">Universal</h5>

            <p class="light">Nos hemos enfocado en brindarte una experiencia agradable de comunicacion, en cualquier lugar del mundo</p>
          </div>
        </div>
      </div>

    </div>
  </div>
  
  <!--Slider-->
    <div class="slider">
    <ul class="slides">
      <li>
        <img src="../Sources/sydney1.png"> <!-- random image -->
        <div class="caption center-align">
          <h3>Seguridad</h3>
          <h5 class="light grey-text text-lighten-3">En nuestra empresa su comunicacion es prioridad.</h5>
        </div>
      </li>
      <li>
        <img src="http://lorempixel.com/580/250/nature/2"> <!-- random image -->
        <div class="caption left-align">
          <h3>Left Aligned Caption</h3>
          <h5 class="light grey-text text-lighten-3">Here's our small slogan.</h5>
        </div>
      </li>
      <li>
        <img src="http://lorempixel.com/580/250/nature/3"> <!-- random image -->
        <div class="caption right-align">
          <h3>Right Aligned Caption</h3>
          <h5 class="light grey-text text-lighten-3">Here's our small slogan.</h5>
        </div>
      </li>
      <li>
        <img src="http://lorempixel.com/580/250/nature/4"> <!-- random image -->
        <div class="caption center-align">
          <h3>This is our big Tagline!</h3>
          <h5 class="light grey-text text-lighten-3">Here's our small slogan.</h5>
        </div>
      </li>
    </ul>
  </div>
      
        
  
  <!--footer-->
   <footer class="white page-footer">
          <div class="container">
            <div class="row">
              <div class="col l6 s12">
                <h5 class="black-text">Amonos papu</h5>
                <p class="black-text text-lighten-4"> <a class="btn" onclick="Materialize.toast('Alumnos de la escuela nacional Preparatoria 6', 5000)">Créditos</a></p>
              </div>
              <div class="col l4 offset-l2 s12">
                <h5 class="black-text">Links</h5>
                <ul>
                  <li><a class="black-text text-lighten-3" href="#!">Link 1</a></li>
                  <li><a class="black-text text-lighten-3" href="#!">Link 2</a></li>
                  <li><a class="black-text text-lighten-3" href="#!">Link 3</a></li>
                  <li><a class="black-text text-lighten-3" href="#!">Link 4</a></li>
                </ul>
              </div>
            </div>
          </div>
          <div class="purple footer-copyright">
            <div class="container white-text">
            © 2017 Copyright Text
            <a class="white-text right" href="#!">Preparatoria 6 Antonio Caso</a>
            </div>
          </div>
        </footer>

	
	
   <!--Fin del maquetado-->
	
		<!--Scrips que se necesitaran-->
		<script type="text/javascript" src="../Documents/js/jquery-3.2.1.js"></script>
		<script type="text/javascript" src="../Documents/js/materialize.js"></script>
		<script type="text/javascript" src="../Documents/js/main.js"></script>
	</body> 
</html> 
